.animation{
   position: absolute;
   width: 100px;
   height: 100px;
   border-radius: 50px;
   background-color: darkorchid;
}
.start-pause{
   position: relative;
   left: 250px;
   width: 200px;
   height: 100px;
   font-size: 36px;
   border: 2px double red;
   background-color: deepskyblue;
   display: flex;
   align-items: center;
   justify-content: center;
}
.reset{
   position: relative;
   margin-top: 20px;
   left: 330px;
   width: 200px;
   height: 100px;
   font-size: 36px;
   border: 2px double red;
   background-color: deepskyblue;
   display: flex;
   align-items: center;
   justify-content: center;  
}