body{
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.fordays{
   margin-top: 80px;
   font-size: 48px;
   line-height: 90px;
   letter-spacing: 5px; 
   color:orange;
   text-align: center;
   border: 5px double blueviolet;
}
.today{
   font-weight: bold;
   color:orangered;
}
.italic{
   font-style: italic;
}
